<div class='card' style="max-width: 90%; margin-left: auto; margin-right: auto;">
	<div class='card-heading '>
		<h2 class='card-title' style="display: inline;">&nbsp;&nbsp;{{category?.title}}</h2>
		&nbsp;&nbsp;&nbsp;
		<h5 style="display: inline;">
			<i class="fa fa-plus" aria-hidden="true"></i>
		</h5>
	</div>
	&nbsp;
	<div class="row container-fluid">
		<div class="col" *ngIf="category">
			<app-topic [title]="'Favorites'" [topics]="category.topics"></app-topic>
		</div>		
		<div class="col" *ngIf="category">
			<app-topic [title]="'Trending'" [topics]="category.topics"></app-topic>
		</div>
		<div class="col" *ngIf="category">
			<app-topic [title]="'New'" [topics]="category.topics"></app-topic>
		</div>
	</div>
	&nbsp;
</div>