<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />

  <appender name="amqp" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
    <host>localhost</host>
    <port>5672</port>
    <virtualHost>/</virtualHost>
    <username>guest</username>
    <password>guest</password>
    <exchangeType>topic</exchangeType>
    <exchangeName>trendsetter.log</exchangeName>
    <applicationId>api-gateway</applicationId>
    <routingKeyPattern>test</routingKeyPattern>
    <contentType>text/plain</contentType>
    <maxSenderRetries>2</maxSenderRetries>
    <charset>UTF-8</charset>
        <layout>
            <pattern><![CDATA[ %d %p %t [%c] - <%m>%n ]]></pattern>
        </layout>
  </appender> 
  <logger name="com.fielder" level="INFO">
    <appender-ref ref="amqp"/>
  </logger>

</configuration>