<div class='card'>
	<div class='card-header'>
		<h3 class='card-title'>&nbsp;{{title}}</h3>
	</div>
	<div class='card-block'>
		<div class='table-responsive'>
			<table class='table table-sm table-hover table-striped' *ngIf='categories && categories.length'>
				<thead class="table-inverse bg-primary">
					<tr>
						<th width='20%'>Category</th>
						<th>Description</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let category of categories'>
						<td><a [routerLink]="['/category', category.id]" class="card-link">{{category.title}}</a></td>
						<td>{{category.description}}</td>
						<td width='5%'><i class="fa fa-heart-o" aria-hidden="true"></i></td>
				</tbody>
			</table>
		</div>
	</div>
</div>
