<p-panel header="{{categoryTitle}}" styleClass='my-panel' [toggleable]="true">
  <!--<i class="fa fa-plus" aria-hidden="true" style='display: inline-block;'></i>-->
  <div class='ui-g'>
    <div class='ui-g-4'>
      <app-category [title]="'Favorites'"></app-category>
    </div>
    <div class='ui-g-4'>
      <app-category [title]="'Trending'"></app-category>
    </div>

    <div class='ui-g-4'>
      <app-category [title]="'New'"></app-category>
    </div>
  </div>
</p-panel>
&nbsp;
&nbsp;
<p-panel header="{{topicTitle}}" styleClass='my-panel' [toggleable]="true">
    <!--<i class="fa fa-plus" aria-hidden="true" style='display: inline-block;'></i>-->
    <div class='ui-g'>
      <div class='ui-g-4'>
        <app-topic [title]="'Favorites'"></app-topic>
      </div>
      <div class='ui-g-4'>
        <app-topic [title]="'Trending'"></app-topic>
      </div>

      <div class='ui-g-4'>
        <app-topic [title]="'New'"></app-topic>
      </div>
    </div>
  </p-panel>

